@page "/"

@using WebApi.Client;
@using WebApi.Client.Models.ApiModels;
@inject WebApiClientService apiClient

<div class="card">
    <div class="card-body p-0">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Gender</th>
                    <th>Birthdate</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @if (users?.Any() ?? false)
                {
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.EmailAddress</td>
                            <td>@user.Gender</td>
                            <td>@user.Birthdate</td>
                            <td>@user.Age</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td class="text-center" colspan="5">No Record Found</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>




@code{
    private List<User>? users;
    private User addUserModel = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task LoadUsers()
    {
        users = await apiClient.GetUsers();
    }

    private async Task AddUser()
    {
        await apiClient.SaveUser(addUserModel);
        await LoadUsers();
        addUserModel = new();
    }

    private async Task UpdateUser(User user)
    {
        await apiClient.UpdateUser(user);
        await LoadUsers();
    }

    private async Task DeleteUser(int userId)
    {
        await apiClient.DeleteUser(userId);
        await LoadUsers();
    }
}
